<router-outlet></router-outlet>
<!-- <button (click)="iniciarFluxo()">FLUXO NOVO TITULAR SEM DÉBITOS</button>
<button (click)="infImovelTroca()">INFORMAR IMÓVEL</button>
<button (click)="cadFatDigital()">CADASTRAR FATURA DIGITAL</button>
<button (click)="informativoSucesso()">INFORMATIVO SUCESSO</button>
<button (click)="docComFoto()">DOC COM FOTO</button>
<button (click)="confSolicitacao()">CONFIRMAR SOLICITAÇÃO</button>
<button (click)="confSolicitacaoPersonalizada()">CONFIRMACAR SOLICITAÇÃO PERSONALIZADA</button>
<button (click)="identificacao()">PAGE IDENTIFICACAO TROCA TITULAR S/DÉBITO E S/ PARCEIRO</button>
<button (click)="dadosPessoais()">PAGE DADOS PESSOAIS TROCA TITULAR S/DÉBITO E S/ PARCEIRO</button>
<button (click)="motivoTroca()">PAGE MOTIVO TROCA</button>
<button (click)="manterCaracteristicasLigacao()">PAGE MANTER CARACTERISTICAS LIGAÇÃO</button> -->