<img class="background-tomada" src="../../../../../../../../assets/assetsLN/images/tomada.svg" alt="Ilustração de uma tomada">

<div class="row">
    <div class="col-lg-7 col-md-8 col-12">
        <h4 tabindex="0" class="mb-4 titulo">Para sua segurança, precisamos dimensionar a
            energia necessária para sua ligação!
        </h4>

        <div class="mt-3 d-flex">
            <img src="../../../../../../../../assets/assetsLN/images/money.svg" alt="ícone bolsa de moeda" class="me-2">
            <span class="textoDadosTecnicos col-xl-9 texto">Não se preocupe! Essas informações não serão utilizadas
                para
                definir o valor da sua conta.</span>
        </div>

        <div class="mt-3 d-flex">
            <img src="../../../../../../../../assets/assetsLN/images/choque.svg" alt="ícone de choque elétrico em forma de raio" class="me-2">
            <span class="textoDadosTecnicos col-xl-9 texto">As informações são importantes para definir a instalação
                adequada e evitarmos riscos de <strong>choque elétrico e incêndio.</strong></span>
        </div>

        <div class="mt-3 d-flex">
            <img src="../../../../../../../../assets/assetsLN/images/infos%20voltagem.svg" alt="ícon de voltagem">
            <span class="textoDadosTecnicos col-xl-9 texto">Precisamos saber a potência dos equipamentos que serão
                utilizados no imóvel! Você consegue consultar essa informação no próprio equipamento.</span>
        </div>
        <br />

        <div class="d-flex justify-content-between justify-content-md-start mt-5">
            <div class="me-3">
                <button type="button" class="btn btn-outline-secondary mx-auto" title="Voltar"
                    (click)="voltar()">VOLTAR</button>
            </div>
            <button type="button" class="btn btn-primary-green" title="Continuar"
                (click)="continuar()">CONTINUAR</button>
        </div>
    </div>
</div>
