[id^=content-accordion-fatura] {
	button {
		padding: 0.5rem 50px 0.5rem 25px;
		border-radius: 25px;
		display: flex;
		justify-content: space-evenly;
		height: fit-content;
		align-items: center;
		margin: 0.5rem;
		text-transform: uppercase;
	}

	.svg-icon {
		position: absolute;
		top: 5px;
		margin-left: 5px;
	}

	h6 {
		width: 100%;
		display: block;
		color: var(--neo-dark-gray);
	}

	h4 {
		text-transform: uppercase;
		color: var(--neo-dark-gray);
		font-weight: bold;
	}

	.valor-fatura {
		font-size: 2rem;
		font-weight: bold;
		display: block;
		margin-top: 0.5rem;
	}

	.vertical-divider {
		max-height: 100%;
		position: absolute;
		height: 500px;
		right: 16px;
		top: 0;
	}

	.alert-fatura {
		align-self: flex-end;
	}

	.alert-fatura-titulo {
		color: var(--neo-pure-red);
		font-size: 1rem;
	}

	.alert-fatura-info {
		color: var(--neo-dark-gray);
	}

	.btn-pix {
		vertical-align: middle;
		background-color: var(--neo-dark-blue);
		color: var(--neo-white);
	}

	@media screen and (max-width: 1024px) {
		button {
			width: 200px !important;
		}
	}

	@media screen and (max-width: 768px) {
		button {
			width: 300px !important;
		}

		mat-divider {
			display: none;
		}
	}

	@media screen and (max-width: 575px) {
		button {
			max-width: 320px !important;
			width: 100% !important;
		}

		mat-divider {
			display: none;
		}
	}
}
