<h2>Cadastrar-se no débito automático</h2>

<p class="subtitulo mt-3 mb-3">Este serviço deve ser solicitado no banco à sua escolha.</p>

<p class="col-12 col-lg-10 ps-0 color-dark-gray text-telas-informativos">
    Para atendê-lo de forma pratica e segura, este serviço é realizado através do seu banco.
    Procure a agência bancária mais próxima ou contate o gerente do seu banco e realize a solicitação.
</p>

<div class="d-flex justify-content-between justify-content-md-start mt-5">
    <app-neo-button class="me-3" [classes]="'btn-neo-outline-secondary'" [titleText]="'VOLTAR'"
        (callFunction)="voltar()">
    </app-neo-button>
</div>
