.cadastroParceiros{
    padding: 0rem;
    margin-top: 5rem;

    .row{
        display: inline-flex;
        justify-content: flex-start;
    }

    .icone-acesso-rapido{
        padding-top: 1rem;
        width: 20%;
        height: 3rem;
    }

    .cardPerfil{
        display: flex;
        background: var(--neo-white) 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 16px #6061701f;
        height: 8rem;
        width: 19rem;
        color: var(--neo-dark-gray);
        text-transform: none !important;
    }

    p{
        font-size: small;
        text-align: start;
    }

    .titulo{
        text-align: start;
    }

}
