.titulo{
    color: var(--neo-dark-green);
    font-weight: 500;
  }

.alert-documento{
    color: var(--neo-dark-green);
    background-color: var(--neo-white);
    font-size: 14px;
    border-radius: 10px;
}
