<h4 class="titulo">O que mais o seu imóvel possui além de tomadas, lâmpadas e televisores?</h4>

<p class="texto mt-3">Para definirmos a ligação ideal para o seu imóvel, precisamos saber quais equipamentos serão
    utilizados de forma recorrente.
    Para te ajudar já consideramos itens básicos como tomadas, lâmpadas e televisores, então você só precisará
    informar equipamentos com
    potência acima de 1kW.
</p>

<div class="row">
    <neo-item-calculadora *ngFor="let equipamento of itensCalculadora; let i = index"
        class="col-12 col-md-6 col-xl-3 mt-4" (selecionarEquipamento)="selecionarEquipamento(i);" [mobile]="mobileXS"
        [equipamento]="equipamento" (add)="adicionar($event);">
    </neo-item-calculadora>
</div>

<div class="row" *ngIf="!mobileXS">
    <div *ngFor="let equipamento of itensCalculadora; let i = index" class="col-12">
        <neo-edit-calculadora (selecionarEquipamento)="selecionarEquipamento(i);" [mobile]="mobileXS"
            *ngIf="equipamento.selected" [equipamento]="equipamento" [mode]="'ADD'" (add)="adicionar($event);">
        </neo-edit-calculadora>
    </div>
</div>

<h6 class="titulo mt-4" *ngIf="equipamentosAdicionados?.length > 0">Lista de equipamentos utilizados</h6>
<neo-equipamentos-adicionados *ngFor="let equipamento of equipamentosAdicionados; let i = index"
    [equipamento]="equipamento" [mobile]="mobileXS" (salvarAlteracao)="atualizar($event, i)"
    (excluir)="excluir(index);"></neo-equipamentos-adicionados>

<div class="alert alert-secondary mt-4" role="alert">
    <div class="row">
        <div class="col-12">

            <strong class="texto">De acordo com os equipamentos selecionados, a categoria da sua ligação
                será <strong class="categoria">{{ categoria }} </strong></strong>
            <neo-tooltip
                [explicacao]="'Monofásica: a ligação elétrica do imóvel é feita apenas com dois fios (uma fase e um neutro, proporcionando voltagens de até 127V (110)). Bifásica: a ligação elétrica do imóvel é feita com três fios (duas fases e um neutro, proporcionando voltagens de até 127V (110) e 220V). Trifásica: a ligação elétrica do imóvel é feita com quatro fios (três fases e um neutro, proporcionando voltagens de até 127V (110) ou 220V).'">
            </neo-tooltip>
            <div class="d-inline" *ngIf="!categoriaAlterada">
                <a class="link-categoria" (click)="alterarCategoria();">Alterar Categoria</a>
            </div>
            <div class="d-inline" *ngIf="categoriaAlterada">
                <a class="link-categoria" (click)="desfazerAlteracao();">Desfazer Alteração</a>
            </div>

        </div>
    </div>
</div>

<div class="w-100 mt-3" *ngIf="potencia >= 25000">
    <h4 class="titulo mb-3">Vamos precisar que nos envie um documento de responsabilidade técnica.
        <neo-tooltip
            [explicacao]="'ART (Anotação de Responsabilidade Técnica) e TRT (Termo de Responsabilidade Técnica) são documentos emitidos por conselhos técnicos garantindo a qualidade e segurança das instalações e construções.
                Nós solicitamos estes documentos quando a ligação do imóvel é configurada com alta demanda de energia.'">
        </neo-tooltip>
    </h4>

    <div class="col-12 col-xl-4 col-md-6 mt-3">
        <neo-anexar-art></neo-anexar-art>
    </div>
</div>

<div class="d-flex flex-row justify-content-between justify-content-md-end mb-5 mt-3">
    <div class="">
        <button type="button" class="btn btn-outline-secondary" title="Voltar" (click)="voltar();">VOLTAR</button>
    </div>
    <div class="ps-md-3">
        <button type="button" class="btn btn-primary-green" title="Continuar"
            (click)="validarContinuar();">CONTINUAR</button>
    </div>
</div>
