$asset-images-path: "^assets/assetsLN/images/";

.categoria {
    color: var(--neo-light-green);
}

.link-categoria {
    margin-left: 10px;
    color: #a4ba09 !important;
    background-color: transparent;
    font-size: 13px;
    cursor: pointer;
}
