<div class="row" id="content-accordion-fatura-{{indexFatura}}" *ngIf="fatura">
    <div class="col-12">
		<h4 class="mb-4"> fatura de {{ mesReferencia }} </h4>
	</div>
	<div class="col-lg-5 hist-consumo mb-4 pb-4">
		<div class="h-100 w-100">

            <p class="mb-1 pb-1">Valor</p>
            <p class="valor-fatura {{fatura.statusFatura}} mb-3">
                {{ valorFatura(fatura.valorEmissao) }}
            </p>
            <p class="pb-2 mb-1">Vencimento: <strong>{{ fatura.dataVencimento | date: 'dd/MM/yyyy' }}</strong></p>
            <p class="pb-2 mb-1">Situação: <strong>{{ getStatus(fatura.statusFatura) }}</strong></p>

			<div *ngIf="validarAvisoFatura(fatura.statusFatura)" class="alert-fatura">
				<h6 class="alert-fatura-titulo mt-3">
					<mat-icon class="me-2" svgIcon="warning-outline"></mat-icon>Atenção
				</h6>
				<p class="alert-fatura-info mt-3">
					{{ settarAvisoFatura(fatura.statusFatura) }}
				</p>
			</div>
		</div>
	</div>
    <div class="col-1 position-relative">
        <div class="hist-divider">

        </div>
    </div>
    <div class="col-lg-6 hist-consumo mb-4 pb-4">
		<div class="h-100 w-100">
            <p class="mb-1 pb-1">Consumo</p>
            <p class="valor-kwh mb-3">
                <strong>{{ kWh(historico.consumoKw) }} kWh</strong>
            </p>
            <p class="pb-2 mb-1">Período faturado: <strong>{{transformarData(fatura.dataInicioPeriodo)}} a {{transformarData(fatura.dataFimPeriodo)}}</strong></p>
            <p class="pb-2 mb-1">Data da leitura: <strong>{{transformarData(fatura.dataFimPeriodo)}}</strong></p>
            <p class="pb-2 mb-1">Leitura: <strong>{{envGrupo === 'SE' ? historico.especificacao[0].numeroLeitura : historico.numeroLeitura}}</strong></p>
            <p class="pb-2 mb-1">Próxima leitura: {{proxLeitura(historico.dataProxLeitura)}}</p>
            <p class="pb-2 mb-1">Dias de consumo: {{calcularDiasDeConsumo(fatura.dataInicioPeriodo, fatura.dataFimPeriodo)}}</p>
		</div>
	</div>

	<!-- ############  OPCOES  ############# -->
	<div class="col-12">
		<div class="d-flex flex-wrap">
			<h6 *ngIf="exibirDadosDePagamento()">Opções de pagamento</h6>

			<div *ngIf="exibirDadosDePagamento()" class="d-flex flex-wrap">
				<button class="btn-pix" type="button" mat-flat-button aria-label="Pagamento com PIX" (click)="chamarDialogPix()">
					PIX <mat-icon class="svg-icon" svgIcon="pix"></mat-icon>
				</button>

				<button type="button" mat-raised-button color="accent" aria-label="Código de Barras" (click)="chamarAlertCodigoDeBarra()">
					código <mat-icon class="svg-icon" svgIcon="codigo-barras"></mat-icon>
				</button>
				<button type="button" mat-raised-button color="accent" aria-label="Pagamento com cartão de crédito" (click)="chamarFlexPag()">
					cartão de crédito <mat-icon class="svg-icon" svgIcon="cartao-credito"></mat-icon>
				</button>
				<button type="button" mat-raised-button color="accent" aria-label="Pagamento com internet banking" (click)="chamarInternetBanking()">
					internet banking <mat-icon class="svg-icon" svgIcon="internet-banking"></mat-icon>
				</button>
			</div>

			<h6 class="mt-3">Opções de fatura</h6>
			<div class="d-flex flex-wrap">
				<button type="button" mat-stroked-button color="accent" aria-label="Download da fatura" (click)="abrirDialogDownloadFatura()">
					download <mat-icon class="svg-icon" svgIcon="download"></mat-icon>
				</button>
				<button type="button" mat-stroked-button color="accent" aria-label="Visualizar fatura" (click)="abrirDialogDownloadFatura('visualizar')">
					visualizar <mat-icon class="svg-icon" svgIcon="visualizar"></mat-icon>
				</button>
				<button type="button" mat-stroked-button color="accent" aria-label="Enviar fatura por email" (click)="faturaPorEmail()">
					enviar por e-mail <mat-icon class="svg-icon" svgIcon="email2"></mat-icon>
				</button>
				<button *ngIf="!ucSelecionada.indCCColetiva" type="button" mat-stroked-button color="accent" aria-label="Entenda sua conta" (click)="redirecionarEntendaSuaConta()">
					entenda sua conta <mat-icon class="svg-icon" svgIcon="entenda-conta"></mat-icon>
				</button>
			</div>
		</div>
	</div>
</div>

