@import '/src/assets/assetsLN/scss/globalLN.scss';

.icon {
	font-size: 34px;
	color: var(--neo-dark-green);
	margin-right: 0.4rem;
}

.file-info {
	background-color: #e8eae5;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	max-width: 100%;
	margin-top: 1rem;

}

.attached-file-box {
	display: flex;
	align-items: center;
}

.margem-personalizada {
	.file-info:first-child {
		margin-top: none;
	}
}
