<div class="d-flex">
    <h4 class="titulo me-1">Confira os documentos e informações que serão obrigatórios para solicitar a Tarifa Social!
    </h4>
    <neo-tooltip [explicacao]="titleTooltip"></neo-tooltip>
</div>
<div class="col-12 mx-auto">

    <div class="row">
        <div class="col-md-6">
            <div *ngFor="let tarifa of tarifasSociais" class="mt-3 p-0">
                <div class="d-flex">
                    <strong class="texto subtitulo-tarifa me-1">{{tarifa.tarifaSocial}}</strong>
                    <neo-tooltip [explicacao]="tarifa.textoTooltip"></neo-tooltip>
                </div>
                <div class="texto">{{tarifa.textoTarifaSocial}}</div>
                <ul *ngFor="let documento of tarifa.documentos" class="texto m-0">
                    <li *ngIf="!documento.temURL" class="texto">{{documento.nomeDocumento}}</li>
                    <li *ngIf="documento.temURL" class="texto">{{documento.nomeDocumento}}<a
                            (click)="abrirURL(documento.url)" class="link-estilizado"> solicite aqui</a></li>
                </ul>
            </div>
            <p class="texto mt-3">*Documento que será obrigatório anexar na plataforma</p>
        </div>


        <div class="col-md-6" *ngIf="!mobile">
            <img src="../../../../../../../../assets/assetsLN/images/tarifaSocialInfo.png" id="imgTarifaSocial" alt="Tarifa Social" class="mt-5">
        </div>
    </div>

    <div class="row col-1">
        <button (click)="fechar()" type="button" class="btn btn-outline-secondary mx-auto" title="FECHAR">FECHAR</button>
    </div>
</div>
