#informar-dados-religacao {
    .alerta-debito {
        color: var(--neo-pure-red);
        font-weight: bolder;
    }

    .mat-checkbox-layout {
        white-space: normal;
        word-wrap: break-word !important;
    }
}
