<div class="faturas-items">
  <div class="fatura-item">
    <span class="item-descricao d-flex">Forma de pagamento</span>
    <span
      ><strong>{{ fatura.formaPagamento }}</strong></span
    >
  </div>
  <div class="fatura-item">
    <span class="item-descricao d-flex">Entrega da fatura</span>
    <span
      ><strong>{{ fatura.entregaFatura }}</strong></span
    >
  </div>
  <div class="fatura-item">
    <span class="item-descricao d-flex">Data de vencimento</span>
    <span
      ><strong>{{ fatura.vencimento }}</strong></span
    >
  </div>
  <div class="fatura-item">
    <span class="item-descricao d-flex">Demanda contratada</span>
    <span
      ><strong>{{ fatura.demanda }}</strong></span
    >
  </div>
</div>
