<!-- <h2>Aqui você pode acompanhar o consumo de energia</h2>

<p class="subtitulo mt-3 mb-3">
  Por meio deste serviço, você pode acompanhar o histórico de consumo dos
  últimos meses do seu imóvel.
</p>

<div class="meu-perfil-header" [class.gradient]="user.group === 'A'">
    MEU PERFIL DE CONSUMO

    <div class="categoria-tarifaria" matTooltipClass="categoria-explicacao"
      matTooltip="{{msgCategoriaTarifa}}">
      <mat-icon class="icon-trending-up">trending_up</mat-icon>
        Categoria tarifária
    </div>
</div>

<mat-card class="mt-12">
  <app-consumo-ativo [data]="consumosAResponseDTO"></app-consumo-ativo>
</mat-card>

<mat-card class="mt-12">
  <app-consumo-reativo [data]="consumosAResponseDTO"></app-consumo-reativo>
</mat-card>

<mat-card class="mt-12">
  <app-demanda-ativa [data]="consumosAResponseDTO"></app-demanda-ativa>
</mat-card>

<mat-card class="mt-12">
  <app-montante [data]="consumosAResponseDTO"></app-montante>
</mat-card>

<mat-card class="mt-12">
  <app-montante-ponta [data]="consumosAResponseDTO"></app-montante-ponta>
</mat-card>

<mat-card class="mt-12">
  <app-montante-gerador [data]="consumosAResponseDTO"></app-montante-gerador>
</mat-card>

<div class="box-component-filter">
  <app-filters [labelTitle]="'HISTÓRICO DE CONSUMO'" [itens]="itens" [pageSize]="pageSize"
    (eventOutput)="eventFilter($event)" (eventClear)="eventClear($event)" (eventSelectAll)="eventSelectAll($event)">
  </app-filters>
</div>

<div class="box-componente-accordion">
  <app-accordion></app-accordion>
</div>

<div class="col-11 box-paginator">
  <app-pagination [ativarDados]="ativarDados" [pageSize]="pageSize" [collections]="itens" [grupo]="user.group"
    (eventPagination)="eventPagination($event)" #pagination>
  </app-pagination>
</div> -->