h2 {
    color: var(--neo-dark-green);
    letter-spacing: 0.56px;
    line-height: 35px;
    font-weight: bold;
}
  
p {
    color: var(--neo-dark-gray);
    font-size: 14px;
    font-weight: 500;
}