<div class="row col-12 p-0">
    <div class="col-lg-7 col-xl-6 col-12">
        <h4 tabindex="0" class="titulo">Você sabe o que é a Tarifa Social de Energia Elétrica?</h4>

        <div class="mt-3 texto">
            A tarifa social é um benefício criado pelo Governo Federal para as residências de famílias com
            baixa renda. Consiste na
            redução da tarifa de consumo de energia elétrica em até 65% e para indígenas e quilombolas
            em até 100%.
        </div>

        <div class="mt-3  texto">
            <strong>Confira quem pode solicitar a Tarifa Social de energia:</strong><br />
            • Famílias no Cadastro Único para Programa Sociais do Governo Federal com renda familiar mensal
            por pessoa menor ou igual a
            meio salário mínimo nacional;
        </div>

        <div class="mt-3  texto">
            • Famílias no Cadastro Único da Prefeitura, com renda familiar mensal de até três salários
            mínimos, que tenha alguém
            com doença ou patologia que precise do uso continuado de aparelhos ou equipamentos elétricos;
        </div>

        <div class="mt-3  texto">
            • Famílias com idoso ou deficiente que receba o Benefício de Prestação Continuada da Assistência
            Social -
            BPC, Lei LOAS.
        </div>

        <div class="mt-3 col-xl-7 p-0 texto">
            Para mais informações <a rel="noopener" href="https://www.neoenergiaelektro.com.br/sua-casa/tarifa-social"
                target="_blank" class="estilizacao-link">clique aqui.</a>
        </div>
    </div>
    <img src="../../../../../../../../assets/assetsLN/images/tarifaSocialInfo.png" class="imgTarifaSocial d-none d-md-none d-lg-block"
         alt="três homens apertando as mãos e uma planilha ao fundo">
</div>

<button type="button" class="btn btn-outline-secondary mx-auto mt-5" title="voltar" (click)="voltar()">VOLTAR</button>
