<div class="col-xl-6 col-12 offset-xl-3 p-0">
    <div class="container-selfie" *ngIf="!mobile">
        <img src="../../../../../assets/assetsLN/images/contornoRostoSelfie.png" alt="" class="fundo-verde" *ngIf="!selfieTirada">
        <video class="col-12 videoSelfie p-0" [ngClass]="{'videoSelfie':!mobile}" autoplay id="webCamera"></video>
    </div>

    <div class="container-selfie" *ngIf="mobile">
        <img src="../../../../../assets/assetsLN/images/contornoRostoSelfieMobile.png" alt="" class="fundo-verde" *ngIf="!selfieTirada">
        <video class="col-12 video-selfie p-0" [ngClass]="{'videoSelfie':mobile}" autoplay id="webCamera"></video>
    </div>

    <div class="d-flex justify-content-between" *ngIf="!selfieTirada">
        <div>
            <button type="button" class="btn btn-outline-secondary" title="voltar" (click)="voltar()">VOLTAR</button>
        </div>
        <div>
            <button type="button" class="btn btn-primary-green" title="Avançar" (click)="takeSelfie()">TIRAR
                SELFIE</button>
        </div>
    </div>

    <div class="d-flex justify-content-between" *ngIf="selfieTirada">
        <div>
            <button style="font-size: 14px;" type="button" class="btn btn btn-outline-secondary" (click)="takeAnotherSelfie()"
                title="Fechar">TIRAR OUTRA FOTO</button>
        </div>
        <div>
            <button style="font-size: 14px;" type="button" class="btn btn-primary-green" (click)="confirmar()">Confirmar</button>
        </div>
    </div>
</div>
