.subtitulo {
  color: var(--neo-dark-gray);
  font-weight: bolder;
}

.subtitulo-h6 {
  color: var(--neo-dark-gray);
  text-transform: uppercase;
}

.data-certa {
  font-size: 00.875rem;
  border-bottom: 2px solid var(--neo-white-500);
  padding: 0px 0px 5px 0px !important;
  font-weight: bolder;
}
