<div class="row col-12 p-0">
    <div class="col-lg-7 col-xl-6 col-12">
        <h4 tabindex="0" class="outlineNone titulo">Conheça a nova opção tarifária!</h4>

        <div class="mt-3 texto">
            A <strong>Tarifa Branca</strong> possibilita o pagamento de valores de energia diferentes em função
            da hora e dos dias da semana que serão utilizadas.
        </div>

        <div class="row mt-4 col-12 p-0 relogios">
            <div class="col-4 mb-2">
                <img src="../../../../../../../../assets/assetsLN/images/relogio.svg" alt="relógio vermelho">
                <div><strong class="titulo2">Ponta </strong>
                    <img src="../../../../../../../../assets/assetsLN/images/sifrao.svg" alt="cifrão vermelho">
                    <img src="../../../../../../../../assets/assetsLN/images/sifrao.svg" alt="cifrão vermelho">
                    <img src="../../../../../../../../assets/assetsLN/images/sifrao.svg" alt="cifrão vermelho">
                </div>
                <div class="texto2">17:30:00 às 20:29:59</div>
            </div>

            <div class="col-4 mb-2">
                <img src="../../../../../../../../assets/assetsLN/images/relogio_1.svg" alt="relógio amarelo">
                <div><strong class="titulo2">Intermediário </strong>
                    <img src="../../../../../../../../assets/assetsLN/images/sifrao_1.svg" alt="cifrão amarela">
                    <img src="../../../../../../../../assets/assetsLN/images/sifrao_1.svg" alt="cifrão amarela">
                </div>
                <div class="texto2">16:30:00 às 17:29:59</div>
                <div class="texto2">20:30:00 às 21:29:59</div>
            </div>

            <div class="col-4 mb-2">
                <img src="../../../../../../../../assets/assetsLN/images/relogio_2.svg" alt="relógio preto">
                <div><strong class="titulo2">Fora de Ponta </strong>
                    <img src="../../../../../../../../assets/assetsLN/images/sifrao_2.svg" alt="cifrão preto">
                </div>
                <div class="texto2">21:30:00 às 16:29:59</div>
            </div>

        </div>

        <div class="mt-3 texto">
            Fins de semana e feriados o valor é sempre cobrado pela leitura de FORA DE PONTA.
        </div>

        <div class="mt-3 texto">
            Se você optar pela Tarifa Branca é necessário que seja disciplinado com seu consumo de energia ou
            poderá resultar em uma conta de luz MAIS ALTA que da Tarifa Convencional.
        </div>
    </div>
    <img src="../../../../../../../../assets/assetsLN/images/tarifaria.svg" class="imgMedidor d-none d-md-none d-lg-block"
         alt="desenho de um medidor de luz">
</div>

<button type="button" class="btn btn-outline-secondary mx-auto mt-5" title="voltar" (click)="voltar()">VOLTAR</button>
