// .titulo {
//   color: var(--neo-dark-green);
//   letter-spacing: 0.56px;
//   line-height: 35px;
//   font-weight: bold;
// }

// .falta-energia-warning {
//   color: var(--neo-pure-red);
//   align-items: center;
//   margin-bottom: 16px;
// }

// .falta-energia-warning :nth-child(2) {
//   padding-left: 10px;
// }

p {
  font-size: 1rem;
  color: var(--neo-dark-gray);
}

// .m-divider {
//   margin-top: 26px;
//   padding-left: 0px;
// }

.t-onde-falta-energia {
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 20px;
}

.radio-button-energia {
  font-weight: 400;
  font-size: 1.2rem;
}

// .container-button {
//   margin-top: 22px;
//   padding-left: 0px;
//   margin-bottom: 60px;
// }

// .space-between-btn {
//   padding-right: 18px;
// }

// .btn-primary-p-light-green:disabled {
//   background-color: var(--neo-white-400) !important;
//   border-color: var(--neo-white-400) !important;
//   color: var(--neo-dark-gray) !important;
// }

// .btn-outline-secondary:disabled {
//   background-color: var(--neo-white-400) !important;
//   border-color: var(--neo-white-400) !important;
//   color: var(--neo-dark-gray) !important;
// }

:host ::ng-deep mat-radio-button {
  padding-left: 0px !important;
  padding-bottom: 15px;
}

.warning {
  color: var(--neo-pure-red);
  font-weight: 500;
}
