<!-- DADOS NA MÉDIA -->
<div *ngIf="statusMediaDasLeituras !== opcaoSemDadosSuficientes && leituraDentroDaMedia === opcaoNaMedia" class="mt-3 mb-3 aviso-media">
    <div class="row align-items-center text-media">
        <div class="col-auto p-1">
            <span class="material-icons-outlined ps-3">error_outline</span>
        </div>
        <div class="col p-0 mb-1">Valor dentro da média: Você está dentro da sua média de consumo.</div>
    </div>
</div>

<!-- DADOS FORA DA MÉDIA -->
<div *ngIf="statusMediaDasLeituras !== opcaoSemDadosSuficientes && leituraDentroDaMedia === opcaoForaDaMedia" class="mt-3 mb-3 aviso-media">
    <div class="row input-attention-color align-items-center">
        <div class="col-auto">
            <span class="material-icons-round ps-3 input-attention-color">warning_amber</span>
        </div>
        <div class="col ps-sm-2">Valor de consumo fora da média mensal!</div>
    </div>
    <div>
        <p class="mt-2 text-fora-media">Atenção: A leitura informada está fora da sua média mensal de consumo! Por favor, confirme se o valor de leitura informado está correto e, caso necessário, realize a correção.</p>
    </div>
</div>

<!-- SEM DADOS PARA CÁLCULO DA MÉDIA -->
<div *ngIf="statusMediaDasLeituras === opcaoSemDadosSuficientes && leituraDentroDaMedia === opcaoSemDadosSuficientes" class="mt-3 mb-3 aviso-media">
    <div class="row align-items-center text-media">
        <div class="col-auto p-1">
            <span class="material-icons-outlined">error_outline</span>
        </div>
        <div class="col p-0 mb-1">Não há referência (histórico de consumo suficiente) para calcular a média.</div>
    </div>
</div>


