h2 {
  color: var(--neo-dark-green);
  letter-spacing: 0.56px;
  line-height: 35px;
  font-weight: bold;
}

.t-color-black-100 {
  color: var(--neo-dark-gray-2);
}

.t-color-green-sage-100 {
  color: var(--neo-light-green);
}

.t-color-dark-silver-200 {
  color: var(--neo-dark-gray);
}

.t-color-green-400 {
  color: var(--neo-dark-green);
}

.box-paginator {
  margin: 25px 0 200px;
  width: 91%;
  background-color: var(--background-color);
}

.box-componente-accordion {
  margin-top: 20px;
}

.box-component-filter {
  margin-top: 36px;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding: 16px 24px;
}
