#fatura-impressa {

  .text-telas-informativos {
    font-weight: 400;
    margin-top: 1.25rem;
    font-size: 1.25rem;
  }

  .mat-radio-label {
    white-space: pre-line !important;
  }

  .mat-radio-button {
    padding-left: 0px !important;
  }
}