<div class="row">
    <div class="col-lg-6 col-xl-6 col-md-12 col-12 mb-4 mt-5">

        <h5 class="titulo mb-4">Documentos aceitos para comprovação de propriedade ou posse do imóvel</h5>

        <ul class="mt-2" class="texto">
            <li *ngFor="let doc of documentoPosse">{{ doc.label }}</li>
        </ul>

        <div class="col-6 ">
            <button type="button" class="btn btn-outline-secondary" title="voltar" (click)="voltar()">VOLTAR</button>
        </div>
    </div>

    <div class="col-lg-5 col-xl-5" *ngIf="!mobile">
        <img src="../../../../../../../../assets/assetsLN/images/ilust_doc_posse.svg" alt="Documento posse" class="img-posse">
    </div>
</div>
