<h2>Antes da selfie, nos envie um documento com foto!</h2>

<p class="subtitulo mt-3 mb-3"> {{subtitulo }} o documento deve estar no formato .PDF, .JPG, .JPEG ou
    .PNG.</p>

<h6 class="subtitulo-h6 mt-4 mb-3">DOCUMENTOS NECESSÁRIOS</h6>

<p class="subtitulo mt-3 mb-3">Vamos precisar que tenha em mãos: Documento com Foto do Novo Titular (RG, CNH ou
    Passaporte).</p>

<app-box-file [documentoLabel]="'DOCUMENTO COM FOTO VÁLIDO (FRENTE E VERSO)'" (arquivoAnexado)="recebeAnexos($event)"
    (arquivoRemovido)="removeAnexo($event)">
</app-box-file>


<div id="buttonArea" class="d-flex justify-content-between justify-content-md-start mt-4">
    <app-neo-button class="me-3 m-0" [classes]="'btn-neo-outline-secondary'" [titleText]="'VOLTAR'"
        (callFunction)="voltar()">
    </app-neo-button>

    <app-neo-button class="me-3 m-0" [classes]="'btn-neoprimary'" [titleText]="'CONTINUAR'" (callFunction)="continuar()"
        [isDisabled]="anexoInvalid">
    </app-neo-button>
</div>
