.nota-rodape{
    font-size: 14px;
}
.sub-titulo-tarifa-social, h5{
    color: var(--neo-light-green);
    font-weight: bold;
    display: flex;
    align-items: center;
}
.imagem-tarifa-social{
    max-height: 450px;
    align-self: flex-end;
}


