#editar-dados-minha-conta {
    .mat-form-field-subscript-wrapper {
        position: inherit;
    }

    .mat-checkbox-layout {
        white-space: normal;
        word-wrap: break-word !important;
    }

    .last-update {
        color: var(--neo-dark-gray);
        font-weight: 400;
    }
}
