h2 {
    letter-spacing: 0.56px;
    line-height: 35px;
    font-weight: bold;
    color: var(--neo-dark-green);
}

.text-telas-informativos {
    font-weight: 400;
    margin-top: 1.25rem;
    font-size: 1.25rem;
}

.a {
    color: var(--neo-dark-green);
}

.b {
    color: var(--neo-light-green);
}