<h2>Forma de pagamento</h2>

<p class="subtitulo my-3">Informações de pagamento da unidade consumidora:</p>

<app-dados-imovel-ligacao></app-dados-imovel-ligacao>

<router-outlet></router-outlet>
<!-- Usuário sem Debito automatico -->
<!--<app-debito-automatico-inicio *ngIf="!possuiDebitoAutomatico"></app-debito-automatico-inicio>-->

<!--&lt;!&ndash; Usuario com debito automatico cadastrado &ndash;&gt;-->
<!--<app-debito-automatico-cadastrado *ngIf="possuiDebitoAutomatico"></app-debito-automatico-cadastrado>-->
