.line-separator {
  border-bottom: 0.063rem solid var(--neo-dark-gray);
  padding: 10px 0;
}

.text-dados {
  font-weight: 500;
}

.m-custom1 {
  margin-top: 0.063rem;
}

.font16px {
  font-size: 1rem;
}

.texto-atencao {
  color : var(--neo-dark-gray);
  font-size: 1rem;
}

.material-icons-round {
  color: var(--neo-pure-red);
}

.texto-icon {
  color: var(--neo-pure-red);
  font-size: 1rem;
  font-weight: 400;
}
