<h2>{{ titulo }}</h2>

<p class="subtitulo my-3">Informações de pagamento da unidade consumidora:</p>

<app-dados-imovel-ligacao></app-dados-imovel-ligacao>

<h6 class="mt-4 subtitulo-h6">FORMA DE PAGAMENTO PARA ESTA UNIDADE CONSUMIDORA:</h6>

<div class="mt-3 col-12 col-xl-6 col-lg-7 col-md-10 col-sm-12 p-0">

    <app-tabela-debito-automatico [conta]="conta" [banco]="banco" [agencia]="agencia"></app-tabela-debito-automatico>

    <p class="d-flex my-3 texto-icon">
        <span class="material-icons-round me-3">warning_amber</span>
        {{ mensagemTipoFluxo }}
    </p>

    <div class="subtitulo">{{ mensagemProcessamentoDCC }}</div>

    <div class="d-flex justify-content-between justify-content-md-start mt-5">
        <app-neo-button class="me-3" [classes]="'btn-neo-outline-secondary'" [titleText]="'VOLTAR'"
                        (callFunction)="voltar()">
        </app-neo-button>

        <app-neo-button class="me-3" [classes]="userGroup === 'A' ? 'btn-neodarkgreen' : 'btn-neoprimary'"
                        [titleText]="'CONCLUIR'" (callFunction)="prosseguir()">
        </app-neo-button>
    </div>
</div>
