<h6 class="mt-4 subtitulo-h6">Sua forma de recebimento primário de faturas para esse imóvel é:</h6>

<div class="configuracao-input-primario col-md-8 col-lg-6 ps-0 pe-0" style="margin-top: 16px;">
    <span class="input-fatura-primario col-md-12 ps-0 pe-0 pe-md-0">Fatura impressa no endereço do imóvel.</span>
</div>

<h6 class="mt-5 mb-0 subtitulo-h6">Serviço de faturas em braile:</h6>

<div class="configuracao-input col-md-8 col-lg-6 ps-0 pe-0">
    <mat-form-field appearance="legacy" class="col-md-12 ps-0 pe-0 pe-md-0">
        <input matInput type="text" class="input-fatura" disabled [value]=tipoServicoBraile />
    </mat-form-field>
</div>
