h4 {
    color: var(--neo-dark-gray);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 500;
}

.visibillity-eye {
    color: #828282;
    cursor: pointer;
    transition: all .1s ease;
}