<div class="aviso">
    <div class="row d-flex text-center justify-content-center">

        <div>
            <img *ngIf="!mobile" class="mt-5" src="assets/images/{{ aviso.imagem }}.svg" alt="imagem ilustrativo sobre a mensagem de aviso ao usuário" />
            <p class="titulo mt-4 {{aviso.tituloColor}}" [innerText]="aviso.titulo"></p>
            <p class="descricao col-10 mx-auto" [innerText]="aviso.descricao"></p>
            <p *ngIf="!aviso.solicitarReligacao" class="descricao">Protocolo: <strong>{{ aviso.protocolo }}</strong></p>
        </div>

        <div class="d-flex justify-content-center" *ngIf="exibirBotoes">
            <app-neo-button class="me-3 m-0" [classes]="'btn-neo-outline-secondary'" [titleText]="'VOLTAR'"
                (callFunction)="voltar()">
            </app-neo-button>
            <app-neo-button class="me-3 m-0" [classes]="grupoTensao === 'A' ? 'btn-neodarkgreen' : 'btn-neoprimary'"
                [titleText]="'CONTINUAR'" (callFunction)="continuar()">
            </app-neo-button>
        </div>
    </div>
</div>
