<div class="mt-padrao">
    <h2>Formulário Cadastro Imobiliária</h2>
    <p class="subtitulo mt-3 mb-3">
        Preencha abaixo os seus dados pessoais e da Imobiliária que deseja cadastrar.
    </p>

    <h6 class="mt-5 mb-3 color-dark-gray">DADOS PESSOAIS</h6>

    <form [formGroup]="representanteImobiliaria" class="row">
        <mat-form-field class="col-lg-6 col-12" color="primary" appearance="outline">
            <mat-label>NOME COMPLETO</mat-label>
            <input matInput type="text" id="nome" formControlName="nome">
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-6 col-12" color="primary" appearance="outline">
            <mat-label>CPF</mat-label>
            <input matInput type="text" id="cpf" formControlName="documentoRepresentanteLegal" mask="000.000.000-009">
        </mat-form-field>
        <mat-form-field class="col-lg-5 col-md-6 col-12" color="primary" appearance="outline">
            <mat-label>DIGITE AQUI SEU E-MAIL</mat-label>
            <input matInput type="email" [email]="true" id="emailRepresentante" formControlName="emailRepresentante">
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-6 col-12" color="primary" appearance="outline">
            <mat-label>DOCUMENTO SECUNDÁRIO</mat-label>
            <mat-select placeholder="Documento" name="tipoDocSecundario" formControlName="tipo">
                <mat-option class="option" *ngFor="let documento of tipoDocumentoSelecionado" [value]="documento">
                    {{ documento}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-6 col-12" color="primary" appearance="outline">
            <mat-label>NÚMERO DO DOCUMENTO</mat-label>
            <input matInput type="text" id="documento" formControlName="numeroDocSecundario">
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-6 col-12" color="primary" appearance="outline">
            <mat-label>DATA DE NASCIMENTO</mat-label>
            <input matInput type="text" maxLength="10" formControlName="dataNascimento" mask="00/00/0000">
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-6 col-12" color="primary" appearance="outline">
            <mat-label>CELULAR</mat-label>
            <input matInput type="text" id="celular" formControlName="celular" mask="(00) 0 0000-0000">
        </mat-form-field>

        <h6 class="col-12 mt-5 mb-3 color-dark-gray">DADOS DA IMOBILIÁRIA</h6>

        <mat-form-field class="col-lg-4 col-md-6 col-12" color="primary" appearance="outline">
            <mat-label>CNPJ</mat-label>
            <input matInput type="text" id="cnpj" formControlName="documentoEmpresa" mask="00.000.000/0000-00">
        </mat-form-field>
        <mat-form-field class="col-lg-6 col-md-6 col-12" color="primary" appearance="outline">
            <mat-label>NOME FANTASIA</mat-label>
            <input matInput type="text" id="nomeFantasia" formControlName="nomeFantasia">
        </mat-form-field>
        <mat-form-field class="col-lg-4 col-md-6 col-12" color="primary" appearance="outline">
            <mat-label>NÚMERO DO CRECI</mat-label>
            <input matInput type="text" id="numeroCreci" mask="000000" formControlName="numeroCreci" onlyNumber>
        </mat-form-field>
        <mat-form-field class="col-lg-4 col-md-6 col-12" color="primary" appearance="outline">
            <mat-label>E-MAIL DE CONTATO</mat-label>
            <input matInput type="email" [email]="true" id="emailContato" formControlName="emailEmpresa">
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-6 col-12" color="primary" appearance="outline">
            <mat-label>TELEFONE DE CONTATO</mat-label>
            <input matInput type="text" id="telefoneContato" mask="(00) 0000-0000" formControlName="telefone">
        </mat-form-field>
        <mat-form-field class="col-lg-2 col-md-6 col-12" color="primary" appearance="outline">
            <mat-label>CEP</mat-label>
            <input matInput type="text" id="cep" mask="00000-000" formControlName="CEP">
        </mat-form-field>
        <mat-form-field class="col-lg-4 col-md-6 col-12" color="primary" appearance="outline">
            <mat-label>LOGRADOURO</mat-label>
            <input matInput type="text" id="logradouro" formControlName="logradouro">
        </mat-form-field>
        <mat-form-field class="col-lg-2 col-md-3 col-12" color="primary" appearance="outline">
            <mat-label>NÚMERO</mat-label>
            <input matInput type="text" id="numero" formControlName="numeroEndereco" onlyNumber>
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-3 col-12" color="primary" appearance="outline">
            <mat-label>COMPLEMENTO</mat-label>
            <input matInput type="text" id="complemento" formControlName="complemento">
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-4 col-12" color="primary" appearance="outline">
            <mat-label>BAIRRO</mat-label>
            <input matInput type="text" id="bairro" formControlName="bairro">
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-4 col-12" color="primary" appearance="outline">
            <mat-label>CIDADE</mat-label>
            <input matInput type="text" id="cidade" formControlName="cidade">
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-4 col-12" color="primary" appearance="outline">
            <mat-label>ESTADO</mat-label>
            <mat-select class="col-12" focus name="estado" name="estado" formControlName="estado" id="estado" required>
                <mat-option *ngFor="let estado of estados" [value]="estado.sigla">
                    {{ estado.sigla }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="col-12 ms-1">
            <p>
                Não sabe seu CEP?
                <a class="a-link" [href]="linkCep" target="_blank" rel="noopener">Clique aqui</a>.
            </p>
        </div>
        <div class="col-12 mt-3 mb-5 mb-md-0">
            <app-neo-button class="me-3 m-0" [classes]="'btn-neo-outline-secondary'" [titleText]="'VOLTAR'"
                (callFunction)="voltar();">
            </app-neo-button>
            <app-neo-button class="me-3 m-0" [classes]="'btn-neoprimary'" [titleText]="'ENVIAR'"
                (callFunction)="enviar()" [isDisabled]="habilitarEnvio()">
            </app-neo-button>
        </div>
    </form>
</div>
