<h2 class="titulo text-center">Bem vindo ao Portal de Serviço de Ligação Nova!</h2>

<h4 class="subtitulo text-center">Aqui você pode solicitar seu pedido de onde você estiver!</h4>

<img class="img-boas-vindas" src="../../../../../../../../assets/assetsLN/images/inicioNovo.svg" alt="Imagem de boas vindas">

<button class="btn btn-primary-green ms-auto formatacao-botao" (click)="setProtocolo()" type="button" title="Solicitar Ligação Nova"
[routerLink]="['../imovel-pronto']">SOLICITAR LIGAÇÃO NOVA</button>
