<div>
    <h2>{{servico}}</h2>

    <p class="mt-3">Para confirmar suas faturas por e-mail, selecione um e-mail de recebimento:</p>

    <div>
        <h6 class="mt-3 mb-4">E-MAIL:</h6>
        <form [formGroup]="emailFormGroup">
            <div class="col-12 col-md-7 col-xl-5 col-lg-5 p-0">
                <mat-form-field appearance="outline" [hideRequiredMarker]="true" class="col-12 pb-0 ps-0">
                    <mat-label class="centralizar-label">E-mail para recebimento de fatura</mat-label>
                    <input class="input-email" matInput type="text" name="email" id="email" [(ngModel)]="emailValue"
                        formControlName="email" maxlength="250" required />

                    <mat-error>
                        <div class="row">
                            <span class="material-icons-round ps-3 pe-1">
                                warning_amber
                            </span>
                            <div class="row ps-3 mt-1 conf-text-input-mat-error">
                                E-mail inválido
                            </div>
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-12 col-md-7 col-xl-5 col-lg-5 p-0">
                <mat-form-field appearance="outline" [hideRequiredMarker]="true" class="col-12 ps-0 mt-3">
                    <mat-label class="centralizar-label">Confirmar e-mail</mat-label>
                    <input matInput type="text" name="confirmarEmail" id="confirmarEmail" [(ngModel)]="confirmEmailValue"
                        blockPaste formControlName="confirmEmail" [errorStateMatcher]="matcher" maxlength="250" required />
                    <mat-error>
                        <div class="row">
                            <span class="material-icons-round ps-3 pe-1">
                                warning_amber
                            </span>
                            <div class="row ps-3 mt-1 conf-text-input-mat-error">
                                Os e-mails não conferem. Tente novamente
                            </div>
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
        </form>

        <div class="mt-5">
            <app-neo-button class="me-3" [classes]="'btn-neo-outline-secondary'" [titleText]="'VOLTAR'"
	            (callFunction)="voltar()"></app-neo-button>

            <app-neo-button class="me-md-3 m-0" [classes]="user.group === 'A' ? 'btn-neodarkgreen' : 'btn-neoprimary'"
                [titleText]="'CONTINUAR'" [isDisabled]="!emailValue || !confirmEmailValue || (emailValue !== confirmEmailValue)"
                (callFunction)="continuar()"></app-neo-button>
         </div>
    </div>
</div>
