@import '/src/assets/assetsLN/scss/globalLN.scss';

.tooltip-arrow,
.tooltip-inner {
    background-color: #FFFFFF !important;
    color: black !important;
    border: 1px solid var(--neo-dark-green) !important;
    font-size: 14px;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #f00; /* Red */
}

::ng-deep .mat-tooltip {
  color: #3f3f3f !important;
  background: white;
  white-space: pre-line !important;
  border-radius: 10px !important;
  -webkit-box-shadow: 0px 2px 13px 0px rgba(50, 50, 50, 0.54);
  -moz-box-shadow:    0px 2px 13px 0px rgba(50, 50, 50, 0.54);
  box-shadow:         0px 2px 13px 0px rgba(50, 50, 50, 0.54);
  width: 400px;
  text-align: justify;
  max-width: unset !important;
  padding: 20px !important;
}

.mat-tooltip.tooltip {
  background-color: darkblue;
  font-size: 12px;
}

.cor-icon {
  color: var(--neo-dark-green);
}


@media only scren and (max-width: 768px) {
	::ng-deep .mat-tooltip {
		position: below !important;
		color: #3f3f3f !important;
		background: white;
		border-radius: 10px !important;
		-webkit-box-shadow: 0px 2px 13px 0px rgba(50, 50, 50, 0.54);
		-moz-box-shadow: 0px 2px 13px 0px rgba(50, 50, 50, 0.54);
		box-shadow: 0px 2px 13px 0px rgba(50, 50, 50, 0.54);
		width: 80% !important;
		text-align: justify;
		max-width: max-content !important;
		padding: 20px !important;
		font-size: 14px;
	}
}

@media only screen and (min-width: 769px) {
	::ng-deep .mat-tooltip {
		position: below !important;
		color: #3f3f3f !important;
		background: white;
		border-radius: 10px !important;
		-webkit-box-shadow: 0px 2px 13px 0px rgba(50, 50, 50, 0.54);
		-moz-box-shadow: 0px 2px 13px 0px rgba(50, 50, 50, 0.54);
		box-shadow: 0px 2px 13px 0px rgba(50, 50, 50, 0.54);
		width: 400px;
		text-align: justify;
		max-width: unset !important;
		padding: 20px !important;
		font-size: 14px;
	}
}
