
<div class="dialog-termos-de-uso">
    <h6 class="titulo">TERMOS DE USO DE AUTOLEITURA</h6>
    <div class="mx-md-3 lista-de-termos">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae leo id felis sagittis pretium. Fusce eu nulla tincidunt, pellentesque lacus eu, sollicitudin lectus. Praesent nec pellentesque neque. Nullam et pulvinar turpis. Nulla dignissim velit ac rhoncus dignissim. Donec vitae ante sodales, pretium augue sit amet, efficitur tortor. Mauris eget ultrices odio, nec euismod nisi. Morbi sem urna, ultricies vitae vehicula vitae, elementum vitae sapien. Phasellus vulputate lectus erat, quis consectetur turpis facilisis in. Aenean vulputate mauris non egestas pellentesque. Quisque accumsan ac neque eu molestie.
        </p>
        <p>Curabitur leo nisl, varius ac nunc id, laoreet lacinia eros. Phasellus a eleifend felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque vestibulum efficitur libero. Vivamus nec lorem id lorem luctus bibendum eu in sem. Duis efficitur euismod lorem ac lobortis. In hac habitasse platea dictumst. Fusce enim neque, pharetra ut luctus ac, vulputate sed nisl.
        </p>
        <p>Aenean mollis in lectus ac condimentum. Nullam dignissim quis quam quis sagittis. Fusce at posuere ligula, et elementum leo. Etiam varius semper turpis et iaculis. Fusce suscipit mauris non sapien malesuada, a euismod ex placerat. Suspendisse condimentum accumsan faucibus. Etiam felis justo, condimentum ac accumsan et, vulputate vitae quam. Donec congue ut mi at egestas. Ut a viverra velit. Mauris dapibus molestie velit, et cursus lorem vehicula ut.
        </p>
        <p>Duis ante lorem, cursus vitae lorem sed, porttitor tincidunt dui. Nulla imperdiet metus a dignissim tincidunt. Duis in scelerisque odio. Ut imperdiet risus eget consectetur scelerisque. Sed eu sollicitudin massa. Nam convallis leo sed lorem scelerisque blandit. Sed faucibus id velit vitae commodo. Morbi euismod elementum venenatis. Maecenas malesuada volutpat diam, sit amet mollis turpis sagittis in. Donec aliquam sodales est a dignissim. Phasellus at erat vel augue placerat fermentum. Vestibulum sed sollicitudin purus.
        </p>
        <p>Curabitur vestibulum ullamcorper dui, ac venenatis arcu maximus nec. Morbi vitae euismod tellus. In feugiat felis sit amet purus eleifend, ut pretium nibh elementum. Ut tempor a arcu eu mattis. Aenean auctor eget risus vel sodales. Duis vel dolor non augue consectetur hendrerit. Fusce tincidunt augue sit amet rutrum molestie. Sed vitae suscipit nulla, et lacinia lacus. Suspendisse vehicula enim vitae magna malesuada, non eleifend mi mattis. Donec sodales consectetur faucibus. Phasellus a condimentum eros.
        </p>
        <p>Nunc feugiat tortor eu malesuada semper. Nulla imperdiet ultricies venenatis. Donec maximus lorem volutpat sapien congue mattis. Praesent ornare purus nunc, at dictum enim efficitur id. Donec eros elit, vulputate sed ante a, convallis dignissim metus. Nullam accumsan risus nec pharetra mollis. Cras vestibulum blandit lacus eget vestibulum. Nullam iaculis ex fermentum turpis pretium volutpat. Vivamus risus turpis, luctus ultricies fringilla vitae, porttitor vel risus. Ut rhoncus est tortor, id porta ex dictum at. Sed quis dignissim elit. Sed tortor mi, suscipit nec libero in, mattis commodo ante. Curabitur non ex ut nisi euismod porta vel vitae nulla. Mauris quis odio sed risus facilisis auctor eu nec lorem. Praesent aliquam semper nisi in ullamcorper.
        </p>
        <p>Nam tincidunt interdum velit et rhoncus. Vestibulum mollis felis sit amet lorem ullamcorper feugiat. Donec nec purus in lorem scelerisque suscipit eu a mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. In sed malesuada nisl. Donec felis nunc, cursus non eros ac, laoreet molestie nisi.
        </p>
        <p>Nullam aliquam lorem sit amet ipsum auctor dapibus. Nunc consequat eros sit amet nulla condimentum vulputate. Pellentesque et pulvinar purus. Aliquam gravida turpis a tempor bibendum. Praesent vitae mauris finibus, auctor enim at, bibendum mi. Vestibulum quam enim, maximus eu neque et, tempor pellentesque quam. Vivamus sit amet imperdiet ipsum. In sapien risus, consequat eu sagittis nec, efficitur a enim. Morbi eget velit posuere, porta ante sit amet, fermentum sapien.
        </p>
    </div>
    <div class="text-center justify-content-md-center mt-5">
        <app-neo-button [classes]="'btn-neoprimary'" [titleText]="'fechar'" (callFunction)="fechar()">

        </app-neo-button>
    </div>
</div>


