.neo-button {
    border: none;
    font-size: 0.875rem;
    text-transform: uppercase;
    height: 2.75rem;
    border-radius: 3.125rem;
    letter-spacing: 0.024rem;
    line-height: 1.188rem;
    border-color: #f8fafb !important;
    color: var(--neo-white) !important;
    transition: all 0.2s ease-in-out;

    &:hover:enabled {
        outline: transparent;
        box-shadow: none !important;
    }
}

.btn-neoprimary {
    @extend .neo-button;
    background-color: var(--neo-light-green);

    &:hover {
        outline: none;
        background-color: var(--neo-dark-green);
    }

    &:disabled {
        background-color: var(--neo-white-400) !important;
        border-color: var(--neo-white-400) !important;
        color: var(--header-text) !important;
    }
}

.btn-neodarkgreen {
    @extend .neo-button;
    background-color: var(--neo-dark-green);

    &:hover:enabled {
        background-color: var(--neo-light-green);
    }
}

.btn-neoblue {
    @extend .neo-button;
    background-color: var(--neo-dark-blue);

    &:hover {
        background-color: var(--neo-blue-200);
    }
}

button {
    outline: none;
}

.btn-neo-outline-green {
    font-size: 0.875rem;
    height: 2.75rem;
    border: 1px solid var(--neo-light-green);
    border-radius: 3.125rem;
    letter-spacing: 0.024rem;
    line-height: 1.188rem;
    color: var(--neo-light-green);
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
