<div class="col-file mb-3">
    <div class="label-anexo">
        <img src="../../../../../assets/assetsLN/images/PastaUpload.svg" alt="Upload" height="60%" class="ps-2 pe-2 pasta-img">
        <div class="texto pe-2">
            {{documentoLabel | uppercase }}
        </div>
        <div *ngIf="infoDoc" class="posicao-tooltip pe-2">
            <neo-tooltip class="color-green d-flex" [explicacao]=infoDoc></neo-tooltip>
        </div>
    </div>

    <!-- Botão carregar desktop -->
    <button *ngIf="!mobile && documentoLabel !== 'LICENÇA AMBIENTAL'" type="button" (click)="fileLoader.click();"
        class="btn-carregar btn-text">
        <input type="file" #fileLoader name="carregarArquivo" (change)="add($event)" accept=".png, .jpg, .jpeg, .pdf"
            id="carregarArquivo" style="display: none" />
        <div class="icon-carregar"></div>
        <span class="btn-text">CARREGAR</span>
    </button>
    <!-- Fim botão carregar desktop -->

    <!--  Botão carregar mobile  -->
    <div class="d-flex flex-wrap justify-content-center" *ngIf="documentoLabel !== 'LICENÇA AMBIENTAL'">
        <div class="col-6 p-0">
            <button *ngIf="mobile" type="button" (click)="fileLoader.click();" class="me-1 btn-carregar btn-text">
                <input type="file" #fileLoader name="carregarArquivo" (change)="add($event)"
                    accept=".png, .jpg, .jpeg, .pdf" id="carregarArquivo" class="d-none" />
                <div class="icon-carregar"></div>
                <span class="btn-text">CARREGAR</span>
            </button>
        </div>

        <div class="col-6 p-0">
            <button *ngIf="mobile" type="button" (click)="openDialog()" class="btn-tirarfoto">
                <div class="icon-tirarfoto"></div>
                <span class="btn-text">TIRAR FOTO</span>
            </button>
        </div>
    </div>
    <!--  Fim botão carregar mobile  -->

    <!-- Botão carregar liecnca ambiental -->
    <button *ngIf="documentoLabel === 'LICENÇA AMBIENTAL'" type="button" (click)="fileLoader.click();"
        class="btn-carregar btn-text">
        <input type="file" #fileLoader name="carregarArquivo" (change)="add($event)" accept=".pdf"
            id="carregarArquivo" style="display: none" />
        <div class="icon-carregar"></div>
        <span class="btn-text">CARREGAR</span>
    </button>
</div>
