.mat-datepicker-toggle-default-icon {
    fill: var(--neo-dark-gray) !important;
}

#formDadosPessoais {
    .mat-form-field-invalid {
        .mat-form-field-label {
        color: var(--neo-pure-red) !important;
        }

    }
}

.option[aria-selected="true"] {
    color: var(--neo-dark-green) !important;
    font-weight: bolder;
}
