.input-label, .header-link-documento {
    color: var(--header-text) !important;
}

.span-selecionar{
    width: 100%;
    max-width: 285px;
    font-weight: 400;
    color: var(--header-text) !important;
    font-size: 14px;
}

.option {
    font-weight: 500;
}

.div-link-documento{
    display: flex;
    align-items: center;
    font-weight: 500;
}

.link-documento {
    color: var(--neo-dark-blue) !important;
    cursor: pointer;
    font-weight: 400;
    text-decoration: underline;
.titulo {
    font-weight: 800;
}

.titulo, .div-link-documento{
    margin-bottom: 2rem;
}

.input-label, .header-link-documento {
    color: var(--header-text) !important;
}

.span-selecionar{
    width: 100%;
    max-width: 285px;
    font-weight: 400;
    color: var(--header-text) !important;
    font-size: 14px;
}

.option {
    font-weight: 500;
}

.div-link-documento{
    display: flex;
    align-items: center;
    font-weight: 500;
}

.link-documento {
    color: var(--neo-dark-blue) !important;
    cursor: pointer;
    font-weight: 400;
    text-decoration: underline;
}
}
