.box-color {
    padding: 10px 20px;
    color: #FFF;
    border-radius: 10px;
    margin: auto;
    background-color: var(--neo-light-green);
    word-break: break-word;
}

.a-link {
    color: var(--neo-white);
    text-decoration: underline;
    font-weight: normal;
}
