<mat-card id="conectar-cadastrar">
    <mat-card-title><strong class="color-dark-gray">Agência Virtual</strong></mat-card-title>

    <p class="m-0 mt-2">Acesse os nossos serviços sem sair de casa.</p>

    <button class="mt-2" color="primary" type="button" mat-flat-button aria-label="Conectar-se a agência virtual" (click)="openDialog();">
        LOGIN
    </button>

    <p class="m-0 mt-3">Não possui cadastro?</p>

    <button (click)="navigateTo();" class="mt-2" color="accent" type="button" mat-flat-button aria-label="Cadastrar-se na agência virtual">
        CADASTRE-SE
    </button>
</mat-card>
