<div class="d-flex justify-content-between">

<div class="row">
    <div class="col-12 col-lg-6">
        <h2>Conheça a nova opção tarifária!</h2>

        <div class=" mt-3 texto">
            A <strong> Tarifa Branca</strong> possibilita o pagamento de valores de energia diferentes em função da hora
            e dos dias da semana que serão utilizadas.
        </div>


        <div class="text-center d-flex mt-3 justify-content-md-center">
            <div class="me-4">
                <span class="material-icons-outlined  vermelho">schedule</span>
                <div class="titulo-icone">Ponta <strong class="vermelho">$$$</strong></div>
                <div class=" horario">17:30:00 ás 20:29:59 </div>
            </div>

            <div class="me-4">
                <span class="material-icons-outlined amarelo">schedule</span>
                <div class="titulo-icone">Intermediário <strong class="amarelo">$$</strong></div>
                <div class=" horario">16:30:00 ás 17:29:59 </div>
                <div class=" horario">20:30:00 ás 21:29:59 </div>
            </div>

            <div>
                <span class="material-icons-outlined black">schedule</span>
                <div class="titulo-icone">Fora Ponta <strong class="black">$</strong></div>
                <div class=" horario">21:30:00 ás 16:29:59 </div>
            </div>
        </div>


        <div class=" mt-3 texto">
            Fins de semana e feriados o valor é sempre cobrado pela leitura de FORA PONTA.

        </div>

        <div class=" mt-3 texto">Se você optar pela Tarifa Branca é necessário que seja disciplinado com o seu consumo
            de energia ou poderá resultar em uma conta de luz MAIS ALTA que da Tarifa Convencional.

        </div>


        <div id="buttonArea" class="d-flex justify-content-between justify-content-md-start mt-5">
            <app-neo-button class="me-md-3 m-0" [classes]="'btn-neo-outline-secondary'" [titleText]="'VOLTAR'"
                (callFunction)="voltar()">
            </app-neo-button>

        </div>

    </div>

    <div *ngIf="!mobile" class="col-6 " >

    </div>
    <img *ngIf="!mobile" src="assets/images/relogio-opcao-tarifaria.svg" class="img-tarifaria "
    alt="Um mão segurando um relógio com as opcões de Ponta, Fora ponta, Intermediário">
</div>

</div>
