#tabela-debito-automatico {
    table {
        border-collapse: collapse;
        font-size: 1rem;
    }

    td {
        padding: 1rem 0;
    }

    th {
        font-weight: normal;
    }

    tr:nth-child(2) {
        td {
            padding-top: 2rem;
        }
    }

    tr {
        border-bottom: 1px solid var(--neo-dark-gray);
    }

    td:nth-child(1) {
        font-weight: bolder;
        color: var(--neo-dark-gray);
    }

    td:nth-child(2) {
        text-align: right;
        white-space: nowrap;
    }
}
