<router-outlet></router-outlet>
<!-- <button (click)="docProcuracao()">PAGE DOCUMENTO PROCURACAO</button>
<button (click)="dadosNovoTitular()">DADOS NOVO TITULAR</button>
<button (click)="chamaAlert()">CHAMAR ALERT TERCEIRO COM DÉBITO</button>
<button (click)="chamaAlert2()">CHAMAR ALERT SELFIE</button>
<button (click)="imovelTroca()">IMOVEL TROCA</button>
<button (click)="contatoNovoTitular()">CONTATO NOVO TITULAR</button>
<button (click)="docComFotoTerceiro()">DOC COM FOTO TERCEIRO</button>
<button (click)="informativoTitularidade()">INFORMATIVO TITULARIDADE</button> -->
