@import '/src/assets/assetsLN/scss/globalLN.scss';

.modal-header {
    background-color:#00A443;
    justify-content: end;
    padding: 1rem;
}

.modal-body {
    max-width: 100%;
    margin: 1.5rem;
}
