<div class="width-agencia mt-padrao">
    <h2>2ª Via de Pagamento</h2>
    <p class="subtitulo mt-3 mb-3">
        Aqui você visualiza o código de barras da sua fatura {{ distribuidora }} em aberto, de maneira rápida e fácil.
    </p>

    <div class="listagem-faturas-header">
        FATURAS EM ABERTO
    </div>
    <app-listar-faturas [listaDeFaturas]="faturasFiltradas"></app-listar-faturas>

    <div class="mt-5">
        <div class="mt-3" *ngFor="let info of informativos">
            <span class="d-block bold text-informativo">{{ info.titulo }}</span>
            <span class="d-block text-informativo">{{ info.texto }}</span>
        </div>
    </div>

    <section id="acessoServicos" class="mt-5">
        <div class="row">
            <h2 class="col-12 mb-3" [innerHTML]="tituloServicos"></h2>

            <div class="col-lg-3 mt-3 mb-lg-0" *ngFor="let cardAcessoRapido of cardsAcessoRapido">
                <app-card-acesso-rapido class="h-100" [card]="cardAcessoRapido"></app-card-acesso-rapido>
            </div>
        </div>
    </section>


    <div class="mt-5">
        <app-neo-button [classes]="'btn-neoprimary'" [titleText]="'VOLTAR'" (callFunction)="voltar()">
        </app-neo-button>
    </div>

</div>
